
#principal{
	
	padding:10px 10px 10px 50px;
	background-color: rgb(38, 141, 209);	
	box-shadow: 10px 10px 5px 0px #999999;
	border-radius: 10px;
}

td{
	padding-bottom:25px;
}
h1{
	text-align:center;
}


